@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

h1{
    font-size: 38px;
    padding: 5px 50px;
    margin: 5px 0;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: center;
    color:#1338BE;
}

table{
    margin-left: 35vw;
}

tr{
    margin: 15px 5px;
}

td, td a{
    font-size: 32px;
    font-family: 'Titillium Web', sans-serif;
    color:#1338BE;
}

.img1{
    width: 40%;
}